<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ group?.groupName }}</mat-card-title>
        <mat-card-subtitle>Total Member:</mat-card-subtitle>
        <img mat-card-sm-image src="https://banner2.cleanpng.com/20190911/uxz/transparent-blue-turquoise-azure-clip-art-electric-blue-5d78d506dd64b8.8170204815681999429068.jpg">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
     
    </mat-card-content>
  </mat-card>
